{% load static %}
<!doctype html>
<html lang="en">



    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getToken('csrftoken');
    </script>



    {% include "main/includes/head.html" %}
<body>

    <!-- header -->
   {% include "main/includes/navbar.html" %}
    <!-- //header -->
    <!--slider -->

    {% include "main/includes/slider.html" %}

    <!-- //sloder -->


    <!--Content-->
   {% include "main/includes/content.html" %}
    <!-- //Content-->

    <!-- footer-66 -->
  {% include "main/includes/footer.html" %}


  <script type="text/javascript" src="{% static 'main/js/cart.js' %}"></script>

  {% include "main/includes/scripts.html" %}
    <!--//footer -->
</body>
</html>
<!-- responsive tabs -->
