  <header id="site-header" class="w3l-header fixed-top">
           <!--/nav-->
           <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
               <div class="container">
                   <h1><a class="navbar-brand" href="/dashboard"><span class="fas fa-book-reader"
                               aria-hidden="true"></span>
                           Book Mart </a></h1>
                   <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                       <!-- <span class="navbar-toggler-icon"></span> -->
                       <span class="fa icon-expand fa-bars"></span>
                       <span class="fa icon-close fa-times"></span>
                   </button>
   
                   <div class="collapse navbar-collapse" id="navbarSupportedContent">
                       <ul class="navbar-nav ml-auto">
                          
                           <li class="nav-item">
                                <a class="nav-link {{dashboard}}" href="/dashboard">Dashboard</a>
                           </li>  
                           <li class="nav-item">
                                <a class="nav-link" title="View Profile" href="">{{user.username}}</a>
                            </li>
                       </ul>
                <div class="search-right">
                    <a href="/logout" class="btn search-hny mr-lg-3 mt-lg-0 mt-4">Signout</span></a>
                </div>
   
                   </div>
                   <!-- toggle switch for light and dark theme -->
                   <div class="mobile-position">
                       <nav class="navigation">
                           <div class="theme-switch-wrapper">
                               <label class="theme-switch" for="checkbox">
                                   <input type="checkbox" id="checkbox">
                                   <div class="mode-container">
                                       <i class="gg-sun"></i>
                                       <i class="gg-moon"></i>
                                   </div>
                               </label>
                           </div>
                       </nav>
                   </div>
                   <!-- //toggle switch for light and dark theme -->
               </div>
           </nav>
           <!--//nav-->
       </header>