<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<section class="subscribe_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe_part_content">
                        <p><i class="fas fa-shopping-cart fa-7x"></i></p>
                        <h2>Hey, it feels so light!</h2>
                        <p>There is nothing in your cart, Let's add some recipes.</p>
                        &nbsp;&nbsp;&nbsp;<a href="category.php"><button type="button" class="btn btn-secondary btn-lg">Continue Shopping</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>