<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">

</head>

<body>

    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>




    {% for tut in books %} {{tut.book_title}} {{tut.book_author}} {{tut.book_published}} {{tut.book_description}} {% endfor %}

</body>

</html>