
{% load static %}

<!doctype html>
<html lang="en">

{% include "main/includes/head.html" %}

<body>
    <!-- header -->
   {% include "main/includes/dashnavbar.html" %}

        <section class="w3l-contact-1">
        <div class="contacts-9 py-5">
            <div class="container py-lg-4">
                <div class="headerhny-title text-center">
                    <h3 class="hny-title mb-0">Update Book Details</h3>
                </div>
                <div class="contact-view mt-lg-5 mt-4">
                    <div class="conhny-form-section">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-grids">
                                <div class="form-input">
                                    {{form.book_title.label_tag}}<br/> {{form.book_title}}
                                </div>
                                <div class="form-input">
                                    {{form.book_author.label_tag}}<br/> {{form.book_author}}
                                </div>
                                <div class="form-input">
                                    {{form.book_price.label_tag}} <br/>{{form.book_price}}
                                </div>
                                <div class="form-input">
                                    {{form.book_description.label_tag}}<br/> {{form.book_description}}
                                </div>
                              
                                <div class="form-input">
                                    {{form.book_image.label_tag}} <br/>{{form.book_image}}
                                </div>
                                 <div class="form-input">
                                    {{form.book_pdf.label_tag}} <br/>{{form.book_pdf}}
                                </div>
                                 <div class="form-input">
                                    {{form.book_category.label_tag}} <br/>{{form.book_category}}
                                </div>
                            </div>  
                            <div style="text-align: right;">
                            	<div class="row">
								<div class="col" style="text-align: right;">
									<a href="/dashboard" class="btn btn-lg btn-info">Cancle</a>
								</div>
								<div class="col" style="text-align: left;">
									<input type="submit" class="btn btn-lg btn-success" value="Update Changes" name="Confirm">
								</div>
							</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
{% include "main/includes/footer.html" %}
</html>
{% include "main/includes/scripts.html" %}



