<section style="padding-top: 100px; padding-bottom: 120px;">
    <div class="container">
        {% include "main/includes/messages.html" %}
        <div class="row">
            <div class="col col-md-6">

                <figure style="max-width: 360px; max-height: 460px;">
                        <img class="img-fluid" src="{{book.book_image.url}}" alt="{{book.book_title}}">
                </figure>

            </div>
            <div class="col col-md-6">
                  <div class="card-header">
                    <h4>{{book.book_title}}</h4>
                  </div>
                  <div class="card-body" style="color: #DF0E62;">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Written by</h5>
                            <p class="card-title"><span style="color: black;">{{book.book_author}}</span></p>
                            <h5 class="card-title">Desciption</h5>
                            <p class="card-title"><span style="color: black;">{{book.book_description}}</span></p>
                        </div>
                        <div class="col">
                            <h5 class="card-title">Category</h5>
                            <p class="card-title"><span style="color: black;">{{book.book_category}}</span></p>
                            <h5 class="card-title">Date Time</h5>
                            <p class="card-title"><span style="color: black;">{{book.book_published}}</span></p><br/>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="button-center text-center mt-4">
                            <button data-product={{book.id}} data-action="add" class="btn btn-info add-btn update-cart">Add to cart</button>     
                        </div>
                    {% endif %}
                  </div>
            </div>
        </div>
    </div>
    
</section>