<section class="w3l-main-slider position-relative" id="home">
        <div class="companies20-content">
            <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                    <li>
                        <div class="slider-info banner-view bg bg2">
                            <div class="banner-info">
                                <h3>“Today a reader, tomorrow a leader.”</h3>
                                <p>– Margaret Fuller</p>
                                <a href="#new_one" class="zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-book"></span>
                                    </span>
                                    <h6>Read Now</h6>
                                </a>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info  banner-view banner-top1 bg bg2">
                            <div class="banner-info">
                                <h3>“A word after a word after a word is power.” </h3>
                                <p>– Margaret Atwood</p>
                                <a href="#new_one" class="zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-book"></span>
                                    </span>
                                    <h6>Read Now</h6>
                                </a>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top2 bg bg2">
                            <div class="banner-info">
                                <h3>“Books are a uniquely portable magic.”</h3>
                                <p>– Stephen King</span></p>
                                <a href="#new_one" class="zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-book"></span>
                                    </span>
                                    <h6>Read Now</h6>
                                </a>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </section>